# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/ss
include/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/
.ipynb_checkpoints

# IDEs
.idea/  # PyCharm
*.iml   # IntelliJ IDEA
.vscode/ # VS Code

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.flaskenv

# Database
*.db # 如果您使用 SQLite 数据库，会生成 .db 文件，不应上传
*.sqlite
*.sqlite3

# Environment variables
.env